---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # The ACME server URL
    server: https://acme-v02.api.letsencrypt.org/directory
    # Email address used for ACME registration
    email: $ACME_EMAIL
    # Name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: letsencrypt-prod
    # Enable the HTTP-01 challenge provider
    solvers:
      - http01:
          ingress:
            class: nginx

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: tls-certificate-secret-name
  namespace: default
spec:
  secretName: tls-certificate-secret-name
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: $DOMAIN_NAME
  dnsNames:
    - $DOMAIN_NAME